

.nav-logo{
    display: flex;
    

}

.nav-logo img {
    width: 100px;
    height: auto;
    
}


.nav-items{
    display: flex;
    justify-content: space-around;
  
    padding-left: 20px;
    width: 50%;


}
.nav-items div {
    width: fit-content;
    margin: 20px 10px;
    
    font-size: 18px;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}